@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
   padding: 0;
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   box-sizing: border-box;
}

::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
   background-color: #ff8282;
   border-radius: 10px;
}

::-webkit-scrollbar-thumb {
   background-color: #686868;
   border-radius: 30px;
}

ul {
   list-style: none;
}

li {
   padding: 0.3rem;
}




/* ============================= NAVBAR =============================*/

nav {
   width: 100vw;
   height: 5rem;
   z-index: 11;
   position: fixed;
}

.window-scroll {
   background-color: #ffffff;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 29px 0px;
}

.nav-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.5rem 6rem;

}

.logo {
   display: flex;
   align-items: center;
}

.logo img {
   width: 150px;
}


.nav-list {
   display: flex;
   align-items: center;
}

.nav-list ul {
   display: flex;
   justify-content: center;
   list-style: none;
}

.nav-item {
   margin: 0 15px;
}

.nav-link {
   text-decoration: none;
   font-size: 18px;
   color: #171717;
   font-weight: 600;
}

.login-button button {
   border: none;
   width: 100px;
   padding: .5rem;
   border-radius: 25px;
   background-color: #171717;

   transition: 0.5s ease;
}

.login-button button a {
   text-decoration: none;
   color: #fff;
   font-weight: 500;
   font-size: 11px;
}

.login-button button:hover {
   background-color: #EB5858;
   transform: scale(1.1);
}

.mobile-menu-icon {
   display: none;
}

.mobile-menu {
   display: none;
}

/* ============================= END NAVBAR =============================*/





/* =============================    INFORMATION PRODUCT =============================*/

.information-product {

   padding-left: 6rem;
   padding-right: 6rem;
   padding-top: 7rem;
}


.article__container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   flex: 100%;
}

.container__information {
   display: flex;
   align-items: center;

}

.information {
   display: flex;
   align-items: center;
   padding: 2rem;
   gap: 1.5rem;
   height: fit-content;
   border: 1px solid #171717;
   border-radius: 22px;


   width: 650px;
   cursor: pointer;

}

.information__answer {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.information p,
ul {
   display: none;
}

.information__answer h2,
p,
li {
   color: #3a3636;
}

.information__answer h2 {
   font-size: 1rem;
}

.information.open ul {
   display: block;
}

.image {
   display: flex;
   justify-content: center;
   flex: 100%;

}

.image img {
   width: 250px;
}

.info__p {
   max-width: 650px;
   font-size: 0.9rem;
}


.open {
   display: block;
}


.image__small img {
   width: 550px;
}


/* ============================= END INFORMATION PRODUCT =============================*/







/* ============================= TABLE PRODUCT MODELS =============================*/

table {
   border-collapse: collapse;
}

caption {
   font-size: 1.2rem;
   font-weight: bold;
   padding: 20px;
}


th,
td {
   border: solid 1px #000;
   padding: 30px;
   font-size: 0.8rem;
}













/* ============================= END TABLE PRODUCT MODELS =============================*/









/* ============================= CONTAINER CARD PRODUCT =============================*/

.title {
   padding: 6rem 6rem 2rem;
}

#image__small img {
   width: 350px;
}


.container__product {
   width: 100%;
   padding: 1rem 6rem;
   gap: 5rem;


   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.cards__product {
   padding: 2rem;
   display: flex;
   flex-direction: column;

   width: 354px;
   height: 440px;

   background: #FFFFFF;
   box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.14);
   border-radius: 22px;
}

.cards__product:hover {
   border: #EB5858 1px solid;
}


.content__card {
   display: flex;
   flex-direction: column;
   align-items: center;


}

.content__card img {
   width: 80%;
}

.content__card span {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #1E1E1E;
   width: 172px;
   height: 32px;
   border-radius: 22px;
   font-size: 15px;
   color: #fff;
   margin-top: 1rem
}

.name__product {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 0.8rem;

   padding: 0;
}

.name__product p {
   margin-top: 1rem;

}

.btn__card {
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 5px;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   background-color: #343333;
   transition: 0.5s ease;
}

.btn__card:hover {
   background-color: #EB5858;
}

/* ============================= END CONTAINER CARD PRODUCT =============================*/



/* ============================= FORMULARIO DE ORÇAMENTO DAS PRENSAS =============================*/

.form__pag__product {
   padding: 7rem 6rem;


}

.form__pag__product input {
   padding: 0.5rem;
   border-radius: 22px;
   border: #171717 solid 1px;
}

.name {
   display: flex;
   gap: 0.5rem;
   margin-top: 0.5rem;
}

.name input {
   width: 325px;
}

.contact__form {
   width: 660px;
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   margin-top: 0.5rem;
}


.contact__form button {
   padding: 0.5rem;
   background-color: #EB5858;
   border-radius: 22px;
   border: none;
   color: #ffffff;
   transition: 0.5s ease;
   cursor: pointer;
}

.contact__form button:hover {
   background-color: #171717;
   transform: scale(1.05);
}



/* SELECTION MODELS */


.container__dropdown {
   margin-top: 0.5rem;
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.container__dropdown button {
   width: 660px;
   background-color: #EB5858;
   padding: 0.5rem;
   border: none;
   color: #fff;
   border-radius: 22px;
   transition: 0.5s ease;
   cursor: pointer;
}

.container__dropdown button:hover {
   background-color: #171717;
   transform: scale(1.03);
}

.container__dropdown input {
   border-radius: 22px;
   height: 40px;
   width: 660px;
   outline: none;
   background-color: #ffffff;
   color: #171717;
}

::-webkit-input-placeholder {
   font-size: 11px;
   color: #171717;
}

.dropDown {
   width: 660px;
   border-radius: 5px;
   margin-top: 10px;
   height: auto;

   background-color: #171717;
   color: #fff;
   display: none;

   transform: translate(0px, -10px);
}

.listDropDown {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}


.item {
   height: 30px;
   transition: .3s;
   cursor: pointer;
   padding: 10px;
   color: #fff;
}

.item:hover {
   background-color: #686868;
}

.select__peaple {
   padding: 1rem;
   display: flex;
   align-items: center;
   gap: 2rem;
}








/* ============================= FOOTER ============================= */
.container-footer {
   margin-top: 10rem;
   background-color: #171717;
   height: auto;
   justify-content: center;
}

.logo-footer {
   display: flex;
   justify-content: center;
}

.image-footer {
   width: 140px;
   height: 140px;
   border-radius: 50%;
   background-color: #fff;

   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.57);
   margin-top: -4rem;
}

.image-footer img {
   width: 130px;
}

/* LOCATION INFO FOOTER */



.contact-us {
   display: flex;
   justify-content: space-around;
   margin-top: 1rem;
   margin-left: 10rem;
   margin-right: 10rem;
   padding-bottom: 3rem;
   border-bottom: 1px solid #b9b9b9;
}



.contact img {
   width: 80px;
}

.contact-info {
   margin-left: 10px;
}

.contact-info h4 {
   color: #fff;
   font-size: 20px;
}

.contact-info p {
   font-size: 11px;
   color: #fff;
   max-width: 250px;
   margin-top: 10px;
}

.phone img {
   width: 50px;
}

.email img {
   width: 50px;
}



.info-links-form {
   margin-top: 3rem;
   display: flex;
   justify-content: space-around;
   padding-left: 6rem;
   padding-right: 6rem;
}

.info-footer p {
   color: #fff;
   max-width: 340px;
   font-size: 13px;
}

.links {
   margin-right: 4g5rem;
}

.links h2 {
   color: #fff;
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   position: relative;
}

.links h2::after {
   content: '';
   width: 30%;
   height: 2px;
   background-color: #EB5858;
   position: absolute;
   bottom: -10px;
   left: 0;
}

.links ul {
   list-style: none;
   margin-top: 1rem;
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.links a {
   text-decoration: none;
   color: #9A9A9A;
   font-size: 16px;
}

.links a:hover {
   text-decoration: #eb5858 underline;
}

.follow-up h2 {
   color: #fff;
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   position: relative;
}

.follow-up h2::after {
   content: '';
   width: 30%;
   height: 2px;
   background-color: #EB5858;
   position: absolute;
   bottom: -10px;
   left: 0;
}

.follow-up p {
   font-weight: 400;
   font-size: 11px;
   max-width: 180px;
   margin-top: 1rem;

   color: #FFFFFF;
}

.follow-social {
   padding-left: 12rem;
   padding-right: 12rem;
}

.follow-social h2 {
   font-weight: 700;
   font-size: 32px;
   color: #FFFFFF;
}

.follow-social img {
   width: 30px;
   margin-top: 1rem;
}

.form {
   display: flex;
   align-items: center;
   gap: 0.5rem;
   margin-top: 0.5rem;
}

.image-input {
   width: 35px;
   height: 29px;
   background: #EB5858;
   border-radius: 5px;
   border-radius: 5px;
   background-image: url(../../Assets/IMG/Footer-images/send.png);
   background-position: center;
   background-size: 15px;
   background-repeat: no-repeat;
   border: none;
   transition: 0.5s ease;
   cursor: pointer;
}

.image-input:hover {
   transform: scale(1.1);
}

.input-email {
   height: 29px;
   width: 140px;
   border-radius: 5px;
   padding: 5px;
   font-size: 8px;
   border: none;
}

input:focus {
   outline-color: #EB5858;
}

/* ============================= END FOOTER ============================= */

@media screen and (max-width: 730px) {

   /* ============================= MENU HAMBURGUER ============================= */
   .nav-bar {
      padding: 1.5rem 2rem;
      display: flex;
      justify-content: space-between;
   }

   .nav-item {
      display: none;
   }

   .login-button {
      display: none;
      width: 150px;
      margin: auto;
   }

   .login-button button>a {
      font-size: 15px;
   }

   .mobile-menu {
      position: absolute;
      background-color: #fff;
      width: 100%;
      border-radius: 0 0 10px 10px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 20px 20px;
      z-index: 200000;
      top: 4rem;
   }

   .mobile-menu-icon {
      display: block;
   }

   .mobile-menu-icon img {
      width: 25px;
   }

   .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
   }

   .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
   }

   .mobile-menu .nav-item {
      display: block;
      padding-top: 1.2rem;
   }

   .mobile-menu .login-button {
      display: block;
      padding: 1rem 2rem;
   }

   .mobile-menu .login-button button {
      width: 100%;
   }


   /* ==========================SECTION INFORMATION================= */

   .information-product {
      margin: 0;
      padding: 0 5 5 5;
      display: flex;
      align-items: center;
      width: 100%;
   }
   .information-product .information{
      width: 100%;
   }

   .information-product .container__information {
   
      flex-direction: column;
   }


   /*=========================== FOOTER =============================*/
   .container-footer {
      position: relative;
      top: 10rem;
      width: 100%;
      margin-top: 5rem;
      padding: 1rem;
   }

   .contact__us {
      flex-direction: column;
      margin: 0;
      gap: 2rem;
      justify-content: center;

   }

   .container__product {
      padding: 0;
   }


   .links {
      padding-top: 2rem;
   }

   .follow-up {
      padding-top: 2rem;
   }

   .info-links-form {
      flex-direction: column;
      padding: 0;
   }

   .follow-social {
      padding: 0;

      /*===========================END FOOTER =============================*/

   }


}