@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
   padding: 0;
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   box-sizing: border-box;
}


/* NAVEGAÇÃO HEADER */
.nav-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.5rem 6rem;
}

.logo {
   display: flex;
   align-items: center;
}

.logo img {
   width: 150px;
}


.nav-list {
   display: flex;
   align-items: center;
}

.nav-list ul {
   display: flex;
   justify-content: center;
   list-style: none;
}

.nav-item {
   margin: 0 15px;
}

.nav-link {
   text-decoration: none;
   font-size: 18px;
   color: #171717;
   font-weight: 600;
}

.login-button button {
   border: none;
   width: 100px;
   padding: .5rem;
   border-radius: 25px;
   background-color: #171717;

   transition: 0.5s ease;
}

.login-button button a {
   text-decoration: none;
   color: #fff;
   font-weight: 500;
   font-size: 11px;
}

.login-button button:hover {
   background-color: #EB5858;
   transform: scale(1.1);
}

.mobile-menu-icon {
   display: none;
}

.mobile-menu {
   display: none;
}

.section-banner {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   padding: 6rem;
}

.text-header h1 {
   width: 563px;
   height: 78px;


   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 800;
   font-size: 32px;
   line-height: 39px;

   color: #4B4B4B;

}

.text-header p {

   width: 526px;
   height: 60px;
   margin-top: .7rem;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;

   color: #666565;
}


.btn-info-header button {
   width: 150px;
   height: 34px;
   left: 102px;
   top: 420px;
   background-color: #171717;
   border: none;
   padding: .5rem;
   margin-top: .8rem;
   border-radius: 22px;
   transition: 0.5s ease;
   cursor: pointer;
}

.btn-info-header button>a {
   text-decoration: none;
   color: #fff;
}

.btn-info-header button:hover {
   background-color: #EB5858;
   transform: scale(1.1);
}


.banner-image {
   width: 428px;
   height: 547px;
   margin-top: -130px;
   margin-left: 7rem;
   filter: drop-shadow(0px 0px 19px rgba(0, 0, 0, 0.2));
}



.card-container {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%;
   height: 164px;


   background: #FFFFFF;
   border: 1px solid rgba(235, 88, 88, 0.35);
   box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
   border-radius: 20px;
   z-index: 10000;
}

.card-container-info {
   display: flex;
   gap: 3rem;
}

.oferta {
   width: 334px;

   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 33px;

}

.card-container-info h3 {
   width: 210px;
   height: 48px;
   left: 523px;
   top: 637px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 24px;
}

.btn-info {
   width: 61px;
   height: 61px;
   left: 1232px;
   top: 630px;
   border-radius: 50%;
   transition: 0.5s ease-in-out;

   background: #4B4B4B;

   display: flex;
   align-items: center;
   justify-content: center;
}

.btn-info:hover {
   background-color: #EB5858;
   transform: scale(1.1);
}

.section-about {
   display: flex;

   align-items: center;
   padding: 6rem;
}

.image-prensas img {
   width: 475px;
   height: 324px;

   margin-top: -5rem;

}

.info-prensas h2 {
   width: 254px;
   height: 32px;
   margin-left: 3rem;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 32px;
   /* identical to box height */


   color: #EB5858;
}

.info-prensas p {

   width: 708px;
   height: 176px;
   margin-left: 3rem;
   margin-top: .5rem;


   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 15px;
   line-height: 24px;

   color: #4B4B4B;
}




.contador-container {
   padding: 6rem;
}

.contador {
   width: 100%;
   height: auto;
   padding: 2rem;

   background: #FFFFFF;
   border: 1px solid rgba(235, 88, 88, 0.43);
   box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
   border-radius: 20px;
}


.title h2 {
   display: flex;
   justify-content: center;
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 42px;
}

.number-container {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.number {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.number span {
   margin-top: 5rem;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 78px;
   line-height: 95px;
   letter-spacing: -0.045em;
   color: #EB5858;
}

.number p {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   letter-spacing: -0.045em;
   color: #4B4B4B;
}

.contador picture {
   display: flex;
   justify-content: center;
   margin-top: 5rem;
}

.product-container {
   padding: 6rem;
}

.product-container h2 {
   width: 451px;
   height: 78px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 39px;

   color: #000000;
}



.card-conteudo {
   padding: 2rem;
   display: flex;
   flex-direction: column;
   margin: 1rem;

   width: 354px;
   height: 540px;

   background: #FFFFFF;
   box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.14);
   border-radius: 22px;
}

.card-conteudo:hover {
   border: #EB5858 1px solid;
}

.content {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.content img {
   width: 161px;
   height: 363px;
}

.content span {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #1E1E1E;
   width: 172px;
   height: 32px;
   border-radius: 22px;
   font-size: 15px;
   color: #fff;
   margin-top: 1rem;
}

.btn-text-card {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.btn-text-card p {
   width: 171px;
   height: 40px;
   margin-top: 1rem;
}


.btn__card {
   width: 46px;
   height: 46px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;

   margin-top: 0.5rem;
   background: #4B4B4B;
   transition: 0.5s ease;
}

.btn__card:hover{
   background-color: #EB5858;
}


.swiper-button-prev, 
.swiper-button-next{
   background-color: #EB5858;
   border-radius: 50%;
}
.swiper-button-next.right-arrow{
   width: 70px !important;
   height: 70px !important;
   position: absolute !important;
   right: -30px !important;
}

.swiper-button-prev.left-arrow{
   width: 70px !important;
   height: 70px !important;
   position: absolute !important;
   left: -30px !important;
}


.swiper-button-next::after, .swiper-button-prev::after{
   content: '' !important;
}

.swiper-button-next img{
   margin-left: -20px;
}

.swiper-button-prev img{
   margin-right: -20px;
   width: 25px;
}
@media screen and (max-width: 730px) {
   .nav-bar {
      padding: 1.5rem 4rem;
   }

   .nav-item {
      display: none;
   }

   .login-button {
      display: none;
      width: 100px;
      margin: auto;
   }

   .login-button button>a {
      font-size: 15px;
   }

   .mobile-menu-icon {
      display: block;
   }

   .mobile-menu-icon img {
      width: 25px;
   }

   .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
   }

   .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
   }

   .mobile-menu .nav-item {
      display: block;
      padding-top: 1.2rem;
   }

   .mobile-menu .login-button {
      display: block;
      padding: 1rem 2rem;
   }

   .mobile-menu .login-button button {
      width: 100%;
   }

   .open {
      display: block;
   }
}