@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
   padding: 0;
   margin: 0;
   font-family: 'Montserrat', sans-serif;
}


/* NAVEGAÇÃO HEADER */
.nav-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.5rem 6rem;
}

.logo {
   display: flex;
   align-items: center;
}

.logo img {
   width: 150px;
}


.nav-list {
   display: flex;
   align-items: center;
}

.nav-list ul {
   display: flex;
   justify-content: center;
   list-style: none;
}

.nav-item {
   margin: 0 15px;
}

.nav-link {
   text-decoration: none;
   font-size: 18px;
   color: #171717;
   font-weight: 600;
}

.login-button button {
   border: none;
   width: 100px;
   padding: .5rem;
   border-radius: 25px;
   background-color: #171717;
}

.login-button button a {
   text-decoration: none;
   color: #fff;
   font-weight: 500;
   font-size: 11px;
}

.mobile-menu-icon {
   display: none;
}

.mobile-menu {
   display: none;
}

.section-banner {
   padding: 6rem;
}

.text-header h1 {
   position: absolute;
   width: 563px;
   height: 78px;
   left: 102px;
   top: 246px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 800;
   font-size: 32px;
   line-height: 39px;

   color: #4B4B4B;

}

.text-header p {
   position: absolute;
   width: 526px;
   height: 60px;
   left: 106px;
   top: 334px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;

   color: #666565;
}


.btn-info-header button {
   position: absolute;
   width: 150px;
   height: 34px;
   left: 102px;
   top: 420px;
   background-color: #171717;
   border: none;
   padding: .5rem;
   border-radius: 22px;
}

.btn-info-header button>a {
   text-decoration: none;
   color: #fff;
}


.banner-image {
   position: absolute;
   width: 428px;
   height: 547px;
   left: 780px;
   top: 81px;

   background: url(../IMG/Sem\ Título-2\ 1.png);
   filter: drop-shadow(0px 0px 19px rgba(0, 0, 0, 0.2));
}



.card-container-info {
   display: flex;
   align-items: center;
   justify-content: space-around;

   position: absolute;
   width: 1234px;
   height: 164px;
   left: 102px;
   top: 579px;

   background: #FFFFFF;
   border: 1px solid rgba(235, 88, 88, 0.35);
   box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
   border-radius: 20px;
   z-index: 10000;

}

.oferta {
   width: 334px;

   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 33px;

}

.card-container-info h3 {
   width: 210px;
   height: 48px;
   left: 523px;
   top: 637px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 24px;
}

.btn-info {
   width: 61px;
   height: 61px;
   left: 1232px;
   top: 630px;
   border-radius: 50%;


   background: #4B4B4B;

   display: flex;
   align-items: center;
   justify-content: center;
}


.image-prensas img {
   position: absolute;
   width: 475px;
   height: 324px;
   left: 94.25px;
   top: 881.74px;

}

.info-prensas h2 {
   position: absolute;
   width: 254px;
   height: 32px;
   left: 607px;
   top: 970px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 32px;
   /* identical to box height */


   color: #EB5858;
}

.info-prensas p {
   position: absolute;
   width: 708px;
   height: 176px;
   left: 607px;
   top: 1022px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 15px;
   line-height: 24px;

   color: #4B4B4B;
}

.contador {
   position: absolute;

   width: 1234px;
   height: auto;
   left: 106px;
   top: 1342px;
   padding: 2rem;

   background: #FFFFFF;
   border: 1px solid rgba(235, 88, 88, 0.43);
   box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
   border-radius: 20px;
}


.title h2 {
   display: flex;
   justify-content: center;
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 42px;
}

.number-container {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.number {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.number span {
   margin-top: 5rem;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 78px;
   line-height: 95px;
   letter-spacing: -0.045em;
   color: #EB5858;
}

.number p{
   font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
letter-spacing: -0.045em;
color: #4B4B4B;
}

.contador picture{
   display: flex;
   justify-content: center;
   margin-top: 5rem;
}

@media screen and (max-width: 730px) {
   .nav-bar {
      padding: 1.5rem 4rem;
   }

   .nav-item {
      display: none;
   }

   .login-button {
      display: none;
      width: 100px;
      margin: auto;
   }

   .login-button button>a {
      font-size: 15px;
   }

   .mobile-menu-icon {
      display: block;
   }

   .mobile-menu-icon img {
      width: 25px;
   }

   .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
   }

   .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
   }

   .mobile-menu .nav-item {
      display: block;
      padding-top: 1.2rem;
   }

   .mobile-menu .login-button {
      display: block;
      padding: 1rem 2rem;
   }

   .mobile-menu .login-button button {
      width: 100%;
   }

   .open {
      display: block;
   }
}