@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    list-style: none;
    justify-content: center;

}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #171717;
    font-weight: 600;
}

.login-button button {
    border: none;
    width: 100px;
    padding: .5rem;
    border-radius: 25px;
    background-color: #171717;

    transition: 0.5s ease;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 11px;
}


/* Estilização do dropdown */

#dropdown {
    font-size: 18px;

}


#dropbtn {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: white;
    border-radius: 15px;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    text-align: left;
    color: #171717;
    padding-top: 10px;
}


#dropdown:hover .dropdown-content {
    display: block;

}

#dropdown:hover #dropbtn {
    /* background-color: rgb(247, 224, 224); */
    border-bottom: red solid 1px;
    padding-left: 1px;
    padding-right: 1px;
}

#dropbtn:hover {
    background-color: rgb(247, 224, 224);
    border-radius: 3px;
    padding: 1px;
    transition: 0.5s ease;
}

.dropdown-content a:hover {
    background-color: rgb(247, 246, 246);
    /* padding-top: 13px; */
    transition: 0.5s ease;
}