@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ff8282;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #686868;
    border-radius: 30px;
}




/* NAVEGAÇÃO HEADER */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
}


.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #171717;
    font-weight: 600;
}

.login-button button {
    border: none;
    width: 100px;
    padding: .5rem;
    border-radius: 25px;
    background-color: #171717;

    transition: 0.5s ease;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 11px;
}

.login-button button:hover {
    background-color: #EB5858;
    transform: scale(1.1);
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 2rem;
        display: flex;
        justify-content: space-between;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
        width: 150px;
        margin: auto;
    }

    .login-button button>a {
        font-size: 15px;
    }

    .mobile-menu {
        position: absolute;
        background-color: #fff;
        width: 100%;
        border-radius: 0 0 10px 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 20px 20px;
        z-index: 200000;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon img {
        width: 25px;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }


    /* Footer */
    .container-footer {
        width: 100%;
        margin-top: 5rem;
        padding: 1rem;
    }

    .footer-information {
        flex-direction: column;
    }

    .institucional {
        margin: 0;
        justify-content: flex-start;
        text-align: start;
        align-items: flex-start;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }


    .contato li {
        text-align: start;
    }

    .element-section {
        width: 100%;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }

    #element-title {
        padding: 0;
        max-width: 10px;
        margin: 0;
    }


}



/* Estilização do dropdown */

#dropdown {
    font-size: 18px;

}


#dropbtn {
    display: inline-block;
    padding-left: 1.5rem;
    padding-right: 2rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    font-size: 15px;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    text-align: left;
    color: #171717;
    padding-top: 10px;
    max-width: 80%;
}


#dropdown:hover .dropdown-content {
    display: block;

}

#dropdown:hover #dropbtn {
    /* background-color: rgb(247, 224, 224); */
    border-bottom: red solid 1px;

}

#dropbtn:hover {
    background-color: rgb(247, 224, 224);
    border-radius: 3px;
    transition: 0.5s ease;
}

.dropdown-content a:hover {
    background-color: rgb(247, 246, 246);
    /* padding-top: 13px; */
    transition: 0.5s ease;
}


.element-section {

    display: flex;
    padding: 6rem 6rem 6rem 6rem;
    justify-content: space-between;

}

.element-section #element-title>h2 {

    text-align: center;
}

.element-section #element-title2 {
    padding-left: 6rem;
}

#element-title {
    border-right: 1px solid #000000;
    padding-right: 25%;
}

/* FOOTER */
.container-footer {
    background-color: #171717;
    height: 300px;
    justify-content: center;
}

.logo-footer {
    display: flex;
    justify-content: center;
}

.image-footer {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.57);
    margin-top: -4rem;
}

.footer-information {
    margin-top: 1rem;
}

.logo-footer img {
    width: 130px;
}

.institucional {
    margin-right: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-information {
    display: flex;
    justify-content: space-around;
}

.info-tecmatisa p {
    max-width: 300px;
    color: #fff;
}

.institucional h2 {
    color: #fff;
}

.institucional ul {
    list-style: none;
}

.institucional ul li {
    margin-bottom: 5px;

}

.institucional a {
    gap: 1rem;
    color: #fff;
    text-decoration: none;
    transition: 0.5s ease;
}

.institucional a:hover {
    opacity: 0.5;
}

.contato {
    color: #fff;
}

.contato ul {
    list-style: none;
    margin-top: 1rem;
}

.contato li {
    text-align: center;
}

.contato a {
    text-decoration: none;
    color: #fff;
}

.contato a:hover {
    opacity: 0.5;
}

.contato ul li {
    margin-bottom: 5px;
}








.product-container {
    padding: 6rem;
}

.product-container h2 {
    width: 451px;
    height: 78px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: #000000;
}

.swiper-slide {
    padding: 3rem;
}


.card-conteudo {
    padding: 2rem;
    display: flex;
    flex-direction: column;

    width: 354px;
    height: 540px;

    background: #FFFFFF;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.14);
    border-radius: 22px;
}

.card-conteudo:hover {
    border: #EB5858 1px solid;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content img {
    width: 161px;
    height: 363px;
}

.content span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
    width: 172px;
    height: 32px;
    border-radius: 22px;
    font-size: 15px;
    color: #fff;
    margin-top: 1rem;
}

.btn-text-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-text-card p {
    width: 171px;
    height: 40px;
    margin-top: 1rem;
}


.btn__card {
    width: 46px;
    height: 46px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    align-items: center;
    background: #4B4B4B;
    transition: 0.5s ease;
}

.btn__card a img {
    width: 30px;
}

.btn__card:hover {
    background-color: #EB5858;
}


.swiper-button-prev,
.swiper-button-next {
    background-color: #EB5858;
    border-radius: 50%;
}

.swiper-button-next.right-arrow {
    width: 70px !important;
    height: 70px !important;
    position: absolute !important;
    right: -30px !important;
}

.swiper-button-prev.left-arrow {
    width: 70px !important;
    height: 70px !important;
    position: absolute !important;
    left: -30px !important;
}


.swiper-button-next::after,
.swiper-button-prev::after {
    content: '' !important;
}

.swiper-button-next img {
    margin-left: -20px;
}

.swiper-button-prev img {
    margin-right: -20px;
    width: 25px;
}


.product-container {
    padding: 6rem;
}

.product-container h2 {
    width: 451px;
    height: 78px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: #000000;
}

.swiper-slide {
    padding: 3rem;
}


.card-conteudo {
    padding: 2rem;
    display: flex;
    flex-direction: column;

    width: 354px;
    height: 540px;

    background: #FFFFFF;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.14);
    border-radius: 22px;
}

.card-conteudo:hover {
    border: #EB5858 1px solid;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content img {
    width: 161px;
    height: 363px;
}

.content span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
    width: 172px;
    height: 32px;
    border-radius: 22px;
    font-size: 15px;
    color: #fff;
    margin-top: 1rem;
}

.btn-text-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-text-card p {
    width: 171px;
    height: 40px;
    margin-top: 1rem;
}


.btn__card {
    width: 46px;
    height: 46px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    align-items: center;
    background: #4B4B4B;
    transition: 0.5s ease;
}

.btn__card a img {
    width: 30px;
}

.btn__card:hover {
    background-color: #EB5858;
}


.swiper-button-prev,
.swiper-button-next {
    background-color: #EB5858;
    border-radius: 50%;
}

.swiper-button-next.right-arrow {
    width: 70px !important;
    height: 70px !important;
    position: absolute !important;
    right: -30px !important;
}

.swiper-button-prev.left-arrow {
    width: 70px !important;
    height: 70px !important;
    position: absolute !important;
    left: -30px !important;
}


.swiper-button-next::after,
.swiper-button-prev::after {
    content: '' !important;
}

.swiper-button-next img {
    margin-left: -20px;
}

.swiper-button-prev img {
    margin-right: -20px;
    width: 25px;
}