@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
   padding: 0;
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   box-sizing: border-box;
}

::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
   background-color: #ff8282;
   border-radius: 10px;
}

::-webkit-scrollbar-thumb {
   background-color: #686868;
   border-radius: 30px;
}


.scroll-to-icon {
   margin: 0 auto;
   width: 20px;
   height: 30px;
   box-shadow: inset 0 0 0 2px #0f141e;
   border-radius: 25px;
   cursor: pointer;
   transition: all .25s;
   transform: translateY(0);
}

.scroll-to-icon::after {
   content: '';
   width: 4px;
   height: 6px;
   background: #0f141e;
   margin-left: 8px;
   top: 8px;
   border-radius: 2px;
   animation-duration: 1.8s;
   animation-iteration-count: infinite;
   animation-name: scroll;
   position: absolute;
}

@keyframes scroll {
   0% {
       bottom: 0px;
   }

   50% {
       top: 14px;
   }

   100% {
       bottom: 0px;
   }
}


/* NAVEGAÇÃO HEADER */
.nav-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.5rem 6rem;
}

.logo {
   display: flex;
   align-items: center;
}

.logo img {
   width: 150px;
}


.nav-list {
   display: flex;
   align-items: center;
}

.nav-list ul {
   display: flex;
   justify-content: center;
   list-style: none;
}

.nav-item {
   margin: 0 15px;
}

.nav-link {
   text-decoration: none;
   font-size: 18px;
   color: #171717;
   font-weight: 600;
}

.login-button button {
   border: none;
   width: 100px;
   padding: .5rem;
   border-radius: 25px;
   background-color: #171717;

   transition: 0.5s ease;
}

.login-button button a {
   text-decoration: none;
   color: #fff;
   font-weight: 500;
   font-size: 11px;
}

.login-button button:hover {
   background-color: #EB5858;
   transform: scale(1.1);
}

.mobile-menu-icon {
   display: none;
}

.mobile-menu {
   display: none;
}

/* BANNER */

.Discover-our-services {
   display: flex;
   justify-content: center;
   padding-top: 10rem;

   background-image: url(../IMG/new_wave_642.4136512158544.svg);
   background-position: center;
   background-size: cover;

   height: 500px;
}

.text {
   display: flex;
   gap: 1rem;
   flex-direction: column;
}

.text span {
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;

   color: #EB5858;
}



.text p, .text h2 {
   text-align: center;
}

#destaque {
   color: #EB5858;
}


.text h2 {
   color: #fff;
   align-items: center;
}

.text p {
   color: #fff;
   text-align: center;
   max-width: 650px;
   font-size: 1rem;
}

/* CARDS */

.container-cards {
   width: 100%;
   padding: 6rem;

   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

}


.cards {
   width: 350px;
   height: 350px;
   padding: 1rem;

   background: #FFFFFF;
   box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.07);
   border-radius: 22px;   
}

.cards2 {
   width: 350px;
   height: 350px;
   padding: 1rem;
   margin-top: 5rem;

   background: #FFFFFF;
   box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.07);
   border-radius: 22px;
}

.content-card {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.content-card h2 {
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;

   color: #EB5858;
}

.container-cards p {
   font-weight: 400;
   font-size: 14px;


   color: #454444;
}



.calderao-container {
   padding: 6rem;
   background-color: #F6F6F6;
   height: 500px;
}

.text-calderao h2, h3 {
   text-align: center;
}

.text-calderao h3 {
   font-size: 1rem;
   font-weight: 400;
}

.card-images {
   display: flex;
}

.card-images{
   display: flex;
   justify-content: space-around;
   margin-top: 2rem;
}

.image1 {
   display: flex;
   align-items: center;
   justify-content: center;

   width: 388px;
   height: 272px;
   background-image: url(../IMG/Prensa-enfardadeira-vertical-225x300\ \(1\)\ 1.png);
   background-position: center;
   background-size: cover;
   transition: 0.5s ease;
}


.card-images span {
   display: block;
   text-align: center;
   font-weight: 800;
   font-size: 22px;
   line-height: 39px;

   color: #FFFFFF;

}

.image2 {
   display: flex;
   align-items: center;
   justify-content: center;

   width: 388px;
   height: 272px;
   background-image: url(../IMG/Enclausuramento-300x180\ \(1\)\ 1.png);
   background-position: center;
   background-size: cover;
   transition: 0.5s ease;
}

.image3 {
   display: flex;
   align-items: center;
   justify-content: center;

   width: 388px;
   height: 272px;
   background-image: url(../IMG/Recuperação-de-locomotivas-2-300x225\ \(1\)\ 1.png);
   background-position: center;
   background-size: cover;
   transition: 0.5s ease;

}


.image1 p{
   display: none;
   color: #F6F6F6;
   font-size: 14px;
}

.image1:hover span{
   display: none;
}

.image1:hover{
   background-color: #2b2828;
   background-image: none;
   border-radius: 22px;
   padding: 1rem;

}

.image1:hover p{
   display: block;
   color: #F6F6F6;
   font-size: 14px;
}



.image2 p{
   display: none;
   color: #F6F6F6;
   font-size: 14px;
}

.image2:hover span{
   display: none;
}

.image2:hover{
   background-color: #2b2828;
   background-image: none;
   border-radius: 22px;
   padding: 1rem;

}

.image2:hover p{
   display: block;
   color: #ffffff;
   font-size: 14px;
}


.image3 p{
   display: none;
}

.image3:hover p{
   display: block;
   color: #fff;
}

.image3:hover span{
   display: none;
}

.image3:hover{
   background-color: #2b2828;
   background-image: none;
   border-radius: 22px;
   padding: 1rem;
}


@media screen and (max-width: 730px) {
   .nav-bar {
      padding: 1.5rem 2rem;
      display: flex;
      justify-content: space-between;
   }

   .nav-item {
      display: none;
   }

   .login-button {
      display: none;
      width: 150px;
      margin: auto;
   }

   .login-button button>a {
      font-size: 15px;
   }

   .mobile-menu {
      position: absolute;
      background-color: #fff;
      width: 100%;
      border-radius: 0 0 10px 10px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 20px 20px;
      z-index: 200000;
   }

   .mobile-menu-icon {
      display: block;
   }

   .mobile-menu-icon img {
      width: 25px;
   }

   .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
   }

   .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
   }

   .mobile-menu .nav-item {
      display: block;
      padding-top: 1.2rem;
   }

   .mobile-menu .login-button {
      display: block;
      padding: 1rem 2rem;
   }

   .mobile-menu .login-button button {
      width: 100%;
   }

   .open {
      display: block;
   }
}